#formGridQ.form-control{
        border-color: none;
}

#formGridQ.form-control:focus {
        box-shadow: 5px 5px 5px rgb(255, 165, 91);
        border-color: lightgray;
}

div.form-row {
        justify-content: center;
}

#submit-button2 {
        height: 2.4rem;

}

