
#suggestedFriends {
    background-color: white;
    box-shadow: 0 3px 6px rgb(175, 217, 235), 0 3px 6px rgb(175, 217, 235);
    width: 50rem;
    height: 8rem;
    margin: 0 auto;

}

.hide {
    display: none;
}

