body {
    margin: 0 auto;
}

#form-input:focus {
    background-color: rgb(255, 255, 255); 
    box-shadow: 5px 5px rgb(223, 248, 214);
    border-color: lightgray;
  }



#checkbox:valid {
    background-color: rgb(241, 239, 239);
}

#submit-button {
    margin: 0 auto;
    background-color: lightgray;
    border: none;
}

#submit-button:focus {
    box-shadow: 5px 5px 5px rgb(223, 248, 214);
}

#login {
    color: black;
}