input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid whitesmoke;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
  transition: background-color 5000s ease-in-out 0s;

}

#signupForm {
    margin: 0 auto;
}

#form-input:focus {
    background-color: rgb(255, 255, 255); 
    box-shadow: 5px 5px rgb(223, 248, 214);
    border-color: lightgray;
  }



#checkbox:valid {
    background-color: rgb(241, 239, 239);
}

#submitButtonRow {
    justify-content: center;
}

#submit-button {
    background-color: lightgray;
    border: none;
   
}

#linkRow {
    justify-content: center;
}

#link {
    color: rgb(108, 149, 92);
}

#submit-button:focus {
    box-shadow: 5px 5px 5px rgb(223, 248, 214);
}

h2 {
    text-align: center;
}



