.card {
    background-color: white;
    width: 20rem;
}

#event-title {
    font-size: 20px;
    font-style: bold;
    text-align: center;
}

#event-date {
    text-align: center;
}

#event-url {
    text-align: center;
}